<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, dicta
      molestiae. Nesciunt ratione maiores rerum officia distinctio, sunt laborum
      non.
    </p>
  </div>
  <div style="width: 50%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, officia?
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="block__header container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      blanditiis.
    </p>
  </div>
</section>
