<footer class="block block--dark footer">
  <div class="container grid grid--1x5">
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">products</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">Website Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="list__item"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">company</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item"><a href="#">Affiliates</a></li>
          <li class="list__item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">support</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item"><a href="#">Knowledge Base</a></li>
          <li class="list__item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">domains</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">Domain Checker</a></li>
          <li class="list__item"><a href="#">Domain Transfer</a></li>
          <li class="list__item"><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__logo">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </div>
  </div>
</footer>
